
  <div class="row">
    <div class="col-md">
      <div class="wrapper-content">
        <div class="box-tile">
          <b class="tag">#</b>
          <h1 class="typing-element"></h1>
            <button class="btn btn-home-cadastro-clientes" (click)="gotoCadastroClientes()">Crie sua conta</button>
        </div>
        <div class="bg_img"></div>
      </div>
    </div>
  </div>